@{
    ViewData["Title"] = "Character";
}
@model Class
<div class="text-center">
    <h1 class="h1">@Model.Name</h1>

    <form>
        <div>Name</div>
        <div>HitDie</div>

        <div>Description</div>
        <div>Armor</div>
        <div>Weapons</div>
        <div>Tools</div>
        <div>SavingThrows</div>
        <div>Skills</div>
        <div id="skillsInput"></div>
        <div>Description</div>
        <div>Source</div>
    </form>
</div>

<script>


</script>