@{
    ViewData["Title"] = "Selected Class";
}
@model Class

<div style="min-height: 90vh!important;" class="text-center row h-100">
    <h1 class="display-4">Selected Class: "@Model.Name"</h1>
    <div id="classGridContainer"></div>
</div>

<script>
    
</script>