@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Character Manager</h1>
    <a id="newCharBtn" class="navbar-brand" asp-area="" asp-controller="Character" asp-action="Index">New Character</a>
</div>


<script>
    $('#newCharBtn').dxButton({
        stylingMode: 'contained',
        text: 'Contained',
        type: 'success',
        height: 120,
        width: 320
    });

</script>